# Either the sandbox or live SmartDebit API domain URL
SD_HOST  = 'https://smartdebit.domain'
# Your SmartDebit username
SD_USER  = 'user'
# Your SmartDebit password
SD_PASS  = 'password'
# Your smartDebit pslId
SD_PSLID = 'pslId'
# The name of your application
SD_AGENT = 'Your organisation PHP iDD Client'